@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
	font-family: $font_name;
	font-display: swap;
	src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
	font-weight: #{$weight};
	font-style: #{$style};
	}
}
// Подключение шрифтов
@import "fonts";


//===============================================================================================================================================================================================
// Обнуление
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
//===============================================================================================================================================================================================
// Media 
$md1 : 991px;
$md2 : 767px;
$md3 : 480px;
$md4 : 320px;
// =====================================================================================================================================================================================================
// Переменные
// $main-color: ;
// $darker-color :#348e7b;
$main-font : 'Montserrat', sans-serif;
$sec-font : 'Roboto', sans-serif;


// =====================================================================================================================================================================================================
// Import
@import "ui";

// =====================================================================================================================================================================================================

body {
	font-family: $main-font;
	font-size: 16px;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

// Header
.header {
	background-color: #eee;
	padding: 20px 0 4px;
	// .header__top
	&__top {
	}
	&__container {
		max-width: 1480px;
		margin: 0 auto;
		padding: 0 20px;
	}
	// .header__bottom
	&__bottom {
	}
}

// top-header
.top-header {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $md3) {
		justify-content: center;
	}
	// .top-header__logo
	&__logo {
		display: flex;
		align-items: center;

		@media (max-width: 1199px) {
			display: block;
		}

		& img {
			margin-right: 20px;
			@media (max-width: 1199px) {
				margin-bottom: 10px;
			}
			@media (max-width: $md3) {
				margin: 0 0 10px;
			}
		}
		& p {
			font-size: 18px;
			font-style: italic;
			@media (max-width: $md1) {
				display: none;
			}
		}
	}
	// .top-header__time
	&__time {
		@media (max-width: $md2) {
			display: none;
		}
	}
	// .top-header__email
	&__email {
		@media (max-width: $md2) {
			display: none;
		}
	}
	// .top-header__phone
	&__phone {
		font-weight: 700;
		color: #4B4B4B;
		line-height: 20px;
		letter-spacing: 0.03em;
		@media (max-width: $md3) {
			display: none;
		}
	}
}

// Bottom-header
.bottom-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@media (max-width: 1199px) {
		justify-content: space-between;
	}

	@media (max-width: $md1) {
		position: relative;
	}
	// .bottom-header__burger
	&__burger {
	}
	// .bottom-header__menu
	&__menu {
		margin-right: 90px;
		@media (max-width: 1199px) {
			margin-right: 0;
		}
	}
	// .bottom-header__button
	&__button {
	}
}

// Menu
.menu {
	@media (max-width: $md1) {
		display: none;
		position: absolute;
		top: 35px;

	}
	// .menu__list
	&__list {
		@media (max-width: $md1) {
			display: flex;
			flex-direction: column;
			background-color: #EEEEEE;
		}
	}
	// .menu__item
	&__item {
		display: inline;
		&+& {
			margin-left: 40px;
		}
		@media (max-width: 1199px) {
			&+& {
				margin-left: 20px;
			}
		}
		@media (max-width: $md1) {
			&+& {
				margin: 5px 0 0;	
			}
			padding: 10px;		
		}
	}
	// .menu__link
	&__link {
		color: #7A1E21;
		font-weight: 600;
		font-size: 14px;
		
	}
}

// Button
.button {
	font-size: 10px;
	line-height: 12px;
	color: #fff;
	background-color: #915052;
	padding: 10px 24px;
	border-radius: 3px;
}

// Intro
.intro {
	background: url('../img/intro/intro-bg.jpg') 50% 50% no-repeat;
	background-size: cover;
	// .intro__text
	&__text {
		color: #fff;
		max-width: 900px;
		margin-left: 5%;
		background: rgba(72, 72, 72, 0.7);
		padding: 75px 50px 60px 75px;
		@media (max-width: $md1) {
			margin-left: 0;
		}
		@media (max-width: $md2) {
			padding: 50px;
		}
		@media (max-width: $md3) {
			padding: 25px;
		}
	}
	// .intro__title
	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 42px;
		margin-bottom: 15px;
		@media (max-width: $md3) {
			font-size: 22px;
		}
	}
	// .intro__subtitle
	&__subtitle {
		font-size: 17px;
		line-height: 21px;
		margin-bottom: 85px;
		@media (max-width: $md3) {
			margin-bottom: 50px;
		}
	}
	// .intro__description
	&__description {
		font-weight: 500;
		font-size: 26px;
		line-height: 32px;
		@media (max-width: $md3) {
			font-size: 20px;
		}
	}
}

// Section
.section {
	padding-top: 35px;
	// .section__title
	&__title {
		color: #7A1E21;
		text-align: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 45px;
	}
	&-grey {
		background-color: #EFEFEF;
		margin-top: 60px;
		padding: 25px 0 50px;
	}
}
// Work-type
.work-type {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	@media (max-width: $md1) {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	// .work-type__item
	&__item {
		padding: 12px 12px 16px;
		box-shadow: 0px 0px 6px rgba(122, 122, 122, 0.5);
		border-radius: 5px;
		color: #333;
		line-height: 18px;
		& + & {
			margin-left: 15px;
		}
		@media (max-width: $md1) {
			width: 35%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			& + & {
				margin-left: 0px;
			}
			&:nth-last-child(-n+2) {
				margin-top: 2%;
			}
		}
		@media (max-width: $md2) {
			width: 45%;
		}
		@media (max-width: $md3) {
			width: 80%;
			&:nth-last-child(-n+3) {
				margin-top: 4%;
			}
		}
	}
	// .work-type__img
	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	// .work-type__title
	&__title {
		text-align: center;
		margin-top: 14px;
		font-weight: 600;
	}
}

// Advantages 
.advantages {
	margin-top: 25px;
	// .advantages__row
	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md1) {
			flex-wrap: wrap;
			& + & {
				margin-top: 5%;
			}
		}
		& + & {
			margin-top: 95px;
		}
	}
	// .advantages__item
	&__item {
		padding-left: 65px;
		position: relative;
		width: 24%;
		@media (max-width: $md1) {
			width: 45%;
			&:nth-last-child(-n+2) {
				margin-top: 5%;
			}
		}
		@media (max-width: $md3) {
			width: 100%;
			min-height: 36px;
			&:nth-last-child(-n+3) {
				margin-top: 5%;
			}
		}
		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			content: '';
			display: block;
			background: url('../img/advantages/Vector.svg')no-repeat;
		}
	}
}

// About
.about {
	padding: 70px 0 100px;
	@media (max-width: $md3) {
		padding: 50px 0;
	}
	// .about__text
	&__text {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 70px;
	}
	// .about__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md2) {
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
		@media (max-width: $md3) {
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	// .about__item
	&__item {
		text-align: center;
		width: 23%;
		@media (max-width: $md2) {
			width: 35%;
			&:nth-last-child(-n+2){
				margin-top: 2%;
			}
		}
		@media (max-width: $md3) {
			width: 40%;
			&:nth-last-child(-n+2){
				margin-top: 5%;
			}
		}
	}
	// .about__img
	&__img {
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 32px;
		@media (max-width: $md3) {
			height: 100px;
			& img {
				height: 100px;
			}
		}
	}
	// .about__value
	&__value {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		@media (max-width: $md3) {
			font-size: 18px;
		}
	}
}

// Form
.form {
	max-width: 840px;
	margin: 0 auto 110px;
	border: 1px solid #E0E3F3;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 0px 3px 3px 0px;
	text-align: center;
	padding: 65px 125px 50px;
	@media (max-width: $md2) {
		padding: 25px 50px;
	}
	@media (max-width: $md3) {
		padding: 25px 20px;
		margin: 0 auto 50px;
	}
	// .form__title
	&__title {
		color: #202E42;
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 20px;
	}
	// .form__subtitle
	&__subtitle {
		color: #636D7B;
		line-height: 20px;
		margin-bottom: 60px;
	}
	// form__place
	&__place {
		position: relative;
		margin-bottom: 25px;
	}
	// .form__input
	&__input {
		display: block;
		width: 100%;
		padding: 18px 0 18px 45px;
		font-size: 15px;
		line-height: 18px;
		border: 1px solid #7A1E21;
		border-radius: 3px;
		font-family: 'Roboto Condensed', sans-serif;
	}
	// .form__placeholder
	&__placeholder {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 45px;
		color: #8C939F;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 15px;
		line-height: 18px;
		& span {
			color: #971E00;
			margin-left: 5px;
		}
	}
	// .form__name
	&__name {
		background: url('../img/form/name.svg') 20px 20px no-repeat #F7F7FB; 
	}
	// .form__phone
	&__phone {
		background: url('../img/form/phone.svg') 20px 20px no-repeat #F7F7FB;
	}
	// .form__email
	&__email {
		background: url('../img/form/mail.svg') 20px 20px no-repeat #F7F7FB;
	}
	// .form__area
	&__area {
		background: url('../img/form/comment.svg') 20px 20px no-repeat #F7F7FB;
		display: block;
		width: 100%;
		padding: 18px 0 18px 45px;
		font-size: 15px;
		line-height: 18px;
		border: 1px solid #7A1E21;
		border-radius: 3px;
		font-family: 'Roboto Condensed', sans-serif;
		min-height: 130px;
		max-height: 250px;
		resize: vertical;
	}
	// .form__submit
	&__submit {
		color: #fff;
		background-color: #971E00;
		line-height: 17px;
		padding: 18px 45px;
		border-radius: 3px;
		display: block;
		margin-left: auto;
		margin: 30px 0 10px auto;
		cursor: pointer;
	}
	// .form__agreement
	&__agreement {
		font-size: 10px;
		line-height: 12px;
		color: #202E42;
		width: 260px;
		margin-left: auto;
		text-align: left;
		& a {
			color: #971E00;
		}
	}
}

// Map
.map {
	width: 100%;
}

// Footer
.footer {
	padding: 100px 0 15px;
	color: #fff;
	background-color: #262626;
	@media (max-width: 1199px) {
		padding: 50px 0 15px;
	}
	// .footer__container
	&__container {
		max-width: 1480px;
		margin: 0 auto;
		padding: 0 20px;
	}
	// .footer__content
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 15px;
		flex-wrap: wrap;
		@media (max-width: $md1) {
			// justify-content: center;
			// align-items: center;
		}
	}
	// .footer__geo
	&__geo {
		display: inline-block;
		width: 200px;
		margin-left: 30px;
		font-size: 14px;
		line-height: 17px;
	}
	// .footer__item
	&__item {
		@media (max-width: 1199px) {
			&:nth-child(2) {
			order: 1;
			}
			&:nth-child(2) {
				width: 100%;
				margin-top: 20px;
				// text-align: center;
			}
		}
		@media (max-width: $md1) {
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			&:nth-last-child(2) {
				justify-content: center;
			}
			& +& {
				margin-top: 2%;
			}
		}
		@media (max-width: $md3) {
			&:first-child {
				flex-wrap: wrap;
				& * {
					width: 100%;
					margin-bottom: 1%;
				}
			}
			&:last-child {
				flex-wrap: wrap;
				& * {
					width: 100%;
					margin-bottom: 1%;
				}
			}
		}
		
	}
	// .footer__nav
	&__nav {
		// display: flex;
		// flex-direction: column;
		display: inline-block;
		& + & {
			margin-left: 40px;
		}
		& a {
			color: #fff;
			font-size: 14px;
			line-height: 17px;
		}
	}
	// .footer__contact
	&__contact {
		display: inline-block;
		font-size: 14px;
		line-height: 17px;
		margin-right: 15px;
	}
	// .footer__phone
	&__phone {
		display: inline-block;
		& p {
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.03em;
			font-weight: 700;
		}
		
	}
	// .footer__button
	&__button {
		display: inline-block;
		background-color: #7A1E21;
		margin-top: 15px;
	}
	// .footer__policy
	&__policy {
		font-family: $sec-font;
		color: #999999;
		font-size: 12px;
		line-height: 17px;
	}
}